.contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact {
  border: 1px solid grey;
  border-radius: 3px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
